*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/pngegg.png);
    background-size: cover;
}

h1, h2, h4, p{
    font-family: 'Pacifico', cursive;
}

.weather-icon{
    width: 63px;
    height: 63px;
}

p{
    font-size: 24px;
}

#card1{
    background-color: rgba(255, 255, 255, 0.5);
}
